<!-- Button trigger modal -->
<div class="col-md-6" style="text-align: center;"><h5>Need to get in contact with ProperVibes?</h5></div>
<div class="col-md-6 contact-button">
  <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">
      Contact us
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Contact Propervibes</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for contact_forms_path @contact_form, :defaults => {:required => false} do |f| %>
          <%= f.error_notification %>
            <%= f.input :subject, placeholder: 'Subject' %>
            <%= f.input :email, as: :email, placeholder: 'Email' %>
            <%= f.input :content, placeholder: 'Content', hint: "Give us a little more background about your request" %>
            <%= f.input :contact_type, collection: ContactForm.readable_keys %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.button :submit, "Submit", class: "btn-success btn-lg" %>
      </div>
    <% end %>
    </div>
  </div>
</div>


