<div class="row song-heading" style="font-size: 16px;">
	<div class="col-xs-4 col-md-4"></div>
	<div class="col-xs-4 col-md-4" style="padding-right: 0px; padding-left: 0px;">
		<h3 style="text-align: center; margin-top: 20px; font-size: 26px;">Latest Songs</h3>
	</div>
	<div class="col-xs-4 col-md-4 paginated_nav" style="padding-right: 0px; padding-left: 0px; text-align: right">
		<%= js_will_paginate @songs, :previous_label => '<i class="fa fa-chevron-left"></i>'.html_safe, :next_label => '<i class="fa fa-chevron-right"></i>'.html_safe, :page_links => false %>
		<%= link_to "All songs", songs_path, class: 'pagination-all text-uppercase' %>
	</div>
</div>
<div class="row">
	<% @songs.each do |song| %>
		<div class='col-md-3'>
			<div class="song-container">
				<%= link_to song do %>
					<img class="img-responsive song-art center" src="<%= song.song_art.url %>">
				<% end %>
				<div class="song-description">
					<p><%= link_to song.name, song %></p>
					<p>By <%= link_to "Artist", song %></p>
				</div>
			</div>
		</div>
	<% end %>
</div>


