<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>ProperVibes</title>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <%= render 'layouts/admin_nav' %>
    <div class="container">
      <%= render 'layouts/messages' %>
      <% if site? %>
      <div class="admin-panel row">
        <div class="col-md-3 admin-site-nav"><%= render 'layouts/site_section_nav' %></div>
        <div class="col-md-9 admin-site-content"><%= yield %></div>
      </div>
      <% else %>
      <%= yield %>
      <% end %>
      
    </div><!-- /.container -->
  </body>
  <script>
  $('.active').closest('li.dropdown').addClass('active');
  </script>
</html>